{{page.description}}

<div class="row">
  <div class="medium-12 large-12 columns">
    <div id="tlacitko" style="    text-align: center;">
        <a href="{{page.profiles.web}}" target="_blank" style="width: 200px; margin-top: 10px; text-align: center; padding: 22px; font-size: 22px; background-color: #A9A9A9;border-color: #5cb85c; color: white;" class="c-cta-button c-cta-button--primary">
            Osobní <br> web
        </a>

        &emsp;

        <a href="{{page.account}}" target="_blank" style="width: 200px; margin-top: 10px; text-align: center; padding: 22px; font-size: 22px; background-color: #A9A9A9;border-color: #5cb85c; color: white;" class="c-cta-button c-cta-button--primary">
            Transparentní <br> účet
        </a>
    </div>
  </div>
</div>
<p></p>
